<%= form_with(model: client_feedback, local: true) do |form| %>
  <% if client_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_feedback.errors.count, "error") %> prohibited this client_feedback from being saved:</h2>

      <ul>
      <% client_feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_feedback_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :client_feedback_email %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :client_feedback_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
